/* Reset some default styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style the header */
header {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

/* Style the main section */
main {
  flex-grow: 1;
  padding-top: 5rem; /* Add padding to prevent crashing into the header */
}

/* Style the projects section */
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.project-card {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* Style the About Me section */
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.about-content {
  flex: 1;
  max-width: 500px;
}

.about-image {
  flex: 1;
  max-width: 300px;
}

.about-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the footer */
/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-info {
  flex: 1;
  max-width: 300px;
}

.footer-social {
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #ddd;
}
